@mixin full {
    width: 100%;
    height: 100%;
}

@mixin text-center {
    text-align: center;
}

@mixin  text-right {
    text-align: right;
}

@mixin center-vertical-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-cover {
    @include full;
}

@mixin caption{
    padding: $large-padding;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    width: auto;
    bottom: 0px;
    z-index: 10;
    left: 10px;
    
    color:rgba($grey, 0.8);
    letter-spacing: 5px;
}

@mixin main-text {
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.5em;
    h1,h2{
        font-weight: inherit;
        font-size: $big;
        letter-spacing: .3em;
        line-height: 1.5em;
    }
}