@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,700&display=swap');
@import './modules/variables.scss';
@import './modules/mixins.scss';

body{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

img{
    max-width: 100%;
}

figure{
    position: relative;
    max-width: 100%;
    margin: 0px;
    figcaption{
        @include caption;
        @include text-center;
    }
    img{
        
    }
}

.full-height{
    min-height: 100vh;
}

.btn{
    padding: $large-padding;
    position: relative;
    color: $black  !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 40%;
        z-index: -1;
        background-color: $light-blue;
        width: 100%;
        transition: all 0.15s ease-out;
    }
    &:hover::before{
        height: 100%;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}



.grid-main-area{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    grid-template-areas: 
        "title title title title title title title title title"
        "image image image image image image image image image";
    .text{
        grid-area: title;
        @include main-text;
    }
    .image{
        grid-area: image;
    }
}

.container{
    grid-column: span 12;
    padding: $big-padding;
}

.mission{
    align-items: center;
    .container{
        @include main-text;
        font-size: 1.1em;
        figure{
            float: right;
            margin-left: 20px;
        }
        p{
            line-height: 2em;
        }
    }
}

.slider{
    header{
        background-color: $blue;
        color:$white;
        padding: $big-padding;
        box-sizing: border-box;
        transform: translateY(40px);
        width: 90%;
        margin: 0 auto;
        h2{
            margin: 0px;
        }
        .separator{
            text-align: right;
            padding-right: 150px;
            position: relative;
            color:$white;
            &::after{
                position: absolute;
                content: '';
                height: 3px;
                width: 140px;
                background-color: currentColor;
                top:0.7em;
                right: 0px;
            }
        }
    }
}

.cover{
    @include absolute-cover;
    min-height: 500px;
    background-size: cover;
    background-position: center;

    &.parallax{

        background-attachment: fixed;
        background-image: url(https://images.pexels.com/photos/2019333/pexels-photo-2019333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        position: relative;
        
        p{
            @include caption;
            box-sizing: border-box;
            background-color: rgba($blue,0.8);
            display: block;
            width: 100%;
            left: 0px;
            @include text-right;
            span{
                display: block;
                font-size: 0.5em;
                font-weight: 200;
                margin-top: 6px;
            }
        }
    }
}

.social{
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    @include text-center
    p.title{
        font-weight: 200;
        font-size: 2.5em;
       
    }
    a{
        display: block;
        max-width: 150px;
        margin:1em auto;
       
    }
}

@media (min-width: 960px){
    .grid-main-area{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-areas: "title title title image image image image image image";
    }
    .container{
        grid-column: 2 / 12;
    }
    .slider{
        align-items: center;
        header{
            width: 100%;
            transform:translateX(100px);
            min-height: 350px;
        }
    }
    .social{
        a{
            display: inline-block;
            margin-top: 0px;
            margin-right: 90px;
            &:last-of-type{
                margin-right: 0px;
            }
        }
    }
}
